<!-- Validation failure messages -->
<% if @guide.errors.any? %>
  <% @guide.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit guide #<%= @guide.id %>
</h1>

<hr>
<div class="container">
  <form action="/update_guide/<%= @guide.id %>" method="post">
    <!-- Label and input for csi_section -->
    <div class="form-group">
      <label for="csi_section">
        CSI section
      </label>

      <input type="text" id="csi_section" name="csi_section" class="form-control" value="<%= @guide.csi_section %>">
    </div>

    <!-- Label and input for title -->
    <div class="form-group">
      <label for="title">
        Title
      </label>

      <input type="text" id="title" name="title" class="form-control" value="<%= @guide.title %>">
    </div>
        <!-- Label and input for industries -->
    <div class="form-group">
      <label for="discipline">
        Industries
      </label>

      <%= select_tag("industries", options_for_select(industries, :selected => @guide.try(:industry)), :class => "form-control") %>
    </div>
    <!-- Label and input for discipline -->
    <div class="form-group">
      <label for="discipline">
        Discipline
      </label>

      <%= select_tag("discipline", options_for_select(disciplines, :selected => @guide.try(:discipline)), :class => "form-control") %>
    </div>


    <button class="btn btn-block btn-outline-secondary">
      Update guide
    </button>
  </form>
</div>
<hr>
<a href="/delete_guide/<%= @guide.id %>">
  Delete guide
</a>
<div></div>
<a href="/guides/<%= @guide.id %>">
  Go back
</a>
