<div class="container">
  <h1>
    Guide Search Results for: "<%= params.fetch("search_entry","") %>"
  </h1>

  <%= search_form_for @q do |f| %>
    <div class="form-group">
      <%= f.label :tags_cont_any, "including results containing keywords:" %>
      <%= f.text_field :tags_cont_any, :name =>"search_entry", :class => "form-control" %>
    </div>
    <div class="form-group">
      <div class="row" style="padding-bottom:10px;">
        <div class="col-4">
          <%= f.label :industries_eq, "filter by industry:" %>
          <%= select_tag("industries", options_from_collection_for_select(Industry.all, :id, :name, params.fetch("industry")), :multiple => true, :class => "form-control") %>
        </div>
        <div class="col-4">
          <%= f.label :discipline_eq, "filter by discipline:" %>
          <%= select_tag("discipline", options_for_select(Discipline.all,:selected => params.fetch("discipline","")),:class => "form-control") %>
        </div>

        <div class="col-4">
          <%= f.label :csi_section_eq, "filter by CSI Section:" %>
          <%= select_tag("csi_section", options_for_select(csi_sections,:selected => params.fetch("csi_section","")),:class => "form-control") %>
        </div>
      </div>
      <%= f.submit "Search with Filters", :class => "btn btn-primary btn-block" %>
    <% end %>

    <form action="/guides">
      <input type="hidden" name="search_entry" value="">
      <button class="btn btn-default btn-block" type="submit">
        Clear filters
      </button>
    </form>
    <hr>

    <% if @guides.count == 0 %>
      <h5>
        <p>Your search for <strong>"<%= params.fetch("search_entry") %>"</strong> did not result in finding any guides. </p>
        <p>Check your spelling and/or try different search terms.</p>
        <p>Consider using fewer filters.</p>
        <p>If you are still unable to find a relevant guide, consider joining the community of contributors by creating the guide you are looking to find.</p>
      </h5>
    <% else %>
      <table class="table">
        <tr>
          <th>
            Title
          </th>
          <th>
            Industries
          </th>
          <th>
            Disciplines
          </th>
          
          <th>
            Csi section
          </th>
          
          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>

        <% @guides.each do |guide| %>
          <tr>
            <td>
              <%= guide.title %>
            </td>
            
            <td>
              <%= guide.industries.pluck(:name).to_sentence %>
            </td>
            <td>
              <%= guide.disciplines.pluck(:name).to_sentence %>
            </td>
            
            <td>
              <%= guide.csi_section %>
            </td>
            
            <td>
              <%= time_ago_in_words(guide.created_at) %> ago
            </td>

            <td>
              <%= time_ago_in_words(guide.updated_at) %> ago
            </td>

            <td>
              <a href="/guides/<%= guide.id %>" class="btn btn-primary">
                <i class="fas fa-glasses"></i>
                View Guide
              </a>
            </td>
          </tr>

        <% end %>
      </table>
    <% end %>
  </div>
</div>
