<div class="container">
  <h1>
    Guide Search Results for: "<%= params.fetch("search_entry","") %>"
  </h1>

  <%= search_form_for @q do |f| %>
    <div class="form-group">
      <%= f.label :tags_cont_any, "Results containing keywords:" %>
      <%= f.search_field :tags_cont_any, :name =>"search_entry", :value => params.fetch("search_entry",""), :class => "form-control" %>
    </div>
     <div class="form-group">
      <div class="row" style="padding-bottom:10px;">
          <div class="col-4">
            <%= f.label :industries_name_eq, "filter by industry:" %>
            <%= select_tag("industry", options_for_select(Industry.all.pluck(:name), :selected => params.fetch("industry","")), :class => "form-control") %>
          </div>
          <div class="col-4">
            <%= f.label :disciplines_name_eq, "filter by discipline:" %>
            <%= select_tag("discipline", options_for_select(Discipline.all.pluck(:name), :selected => params.fetch("discipline","")), :class => "form-control") %>
          </div>
  
          <div class="col-4">
            <%= f.label :csi_section_eq, "filter by CSI Section:" %>
            <%= select_tag("csi_section", options_for_select(csi_sections,:selected => params.fetch("csi_section","")),:class => "form-control") %>
          </div>
        </div>
      </div>
      <%= f.submit "Search with Filters", :class => "btn btn-primary btn-block" %>
    <% end %>
   

    <form action="/guides">
      <input type="hidden" name="search_entry" value="">
      <button class="btn btn-default btn-block" type="submit">
        Clear filters
      </button>
    </form>
    <hr>

    <% if @guides.count == 0 %>
      <h5>
        <p>Your search for <strong>"<%= params.fetch("search_entry") %>"</strong> did not result in finding any guides. </p>
        <p>Check your spelling and/or try different search terms.</p>
        <p>Consider using fewer filters.</p>
        <p>If you are still unable to find a relevant guide, consider joining the community of contributors by creating the guide you are looking to find.</p>
      </h5>
    <% else %>
      <table class="table">
        <tr>
          <th>
            <%= sort_link @q, :title, "Title" %>
          </th>
          <th>
            <%= sort_link @q, :industries, "Industries" %>
          </th>
          <th>
            <%= sort_link @q, :discipline, "Disciplines" %>
          </th>
          
          <th>
            <%= sort_link @q, :csi_section, "CSI Section" %>
          </th>
          
          <th>
            <%= sort_link @q, :created_at, "Created At" %>
          </th>

          <th>
            <%= sort_link @q, :updated_at, "Updated At" %>
          </th>

          <th>
          </th>
        </tr>

        <% @guides.each do |guide| %>
          <tr>
            <td>
              <%= guide.title %>
            </td>
            
            <td>
              <%= guide.industries.pluck(:name).to_sentence %>
            </td>
            <td>
              <%= guide.disciplines.pluck(:name).to_sentence %>
            </td>
            
            <td>
              <%= guide.csi_section %>
            </td>
            
            <td>
              <%= time_ago_in_words(guide.created_at) %> ago
            </td>

            <td>
              <%= time_ago_in_words(guide.updated_at) %> ago
            </td>

            <td>
              <a href="/guides/<%= guide.id %>" class="btn btn-primary">
                <i class="fas fa-glasses"></i>
                View Guide
              </a>
            </td>
          </tr>

        <% end %>
      </table>
    <% end %>
  </div>
</div>
