<!-- Validation failure messages -->
<% if @guide.present? %>
  <% if @guide.errors.any? %>
    <% @guide.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="container">
  <h1>
    Add a new guide
  </h1>

  <hr>

  <form action="/create_guide" method="post">

    <!-- Label and input for title -->
    <div class="form-group">
      <label for="title">
        Title <span class="text-muted">(must be unique)</span>
      </label>

      <input type="text" id="title" name="title" class="form-control" value="<%= @guide.try(:title) %>">
    </div>
    <!-- Label and input for industries -->
    <div class="form-group">
      <label for="industries">
        Industries <span class="text-muted">(multi-select)</span>
      </label>
      <%= select_tag("industries", options_from_collection_for_select(Industry.all, :id, :name), :multiple => true, :class => "form-control") %>
    </div>

    <!-- Label and input for discipline, the database table must have rows of disciplines -->
    <div class="form-group">
      <label for="disciplines">
        Disciplines <span class="text-muted">(multi-select)</span>
      </label>
      <%= select_tag("disciplines", options_from_collection_for_select(Discipline.all, :id, :name),:multiple =>  true, :class => "form-control") %>
    </div>

    <!-- Label and input for csi_section -->
    <div class="form-group">
      <label for="csi_section">
        CSI section
      </label>

      <%= select_tag("csi_section", options_for_select(csi_sections),:class => "form-control") %>
    </div>


    <button class="btn btn-block btn-outline-secondary">
      Create guide
    </button>
  </form>

  <hr>

  <a href="/">
    Go back
  </a>
</div>
