<!DOCTYPE html>
<html>

  <head>

    <!--    Script to hide delete link on modals-->
    <script>
      $(function() {
        $('a#show_more').click(function(event){
          event.preventDefault();
          $('div#more').toggle();
        });
      });
    </script>

  </head>
  <body>

    <!-- start container-->
    <div class="container-fluid">
      <!--start row-->
      <div class="row">
        <!--   start 2 column-->
        <div class="col-2">
          <h3><%= @guide.title %></h3>
          <% if current_user == nil %>
          <% else %>
            <!--TRACKING LINKS-->
            <% if Star.find_by({ :user_id => current_user.id, :guide_id => @guide.id }) == nil %>
              <form action="/create_star" method="post">
                <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @guide.id %>">
                <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
                <button type="submit" class="btn btn-link">
                  <i class="far fa-star fa-2x"></i> <span class="badge badge-primary badge-pill"> <%= Star.where(:guide_id => @guide.id).count %></span>
                  
                </button>
              </form>
            <% else %>
              <form action="/delete_star/<%= Star.find_by({ :user_id => current_user.id, :guide_id => @guide.id }).id %>">
                <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @guide.id %>">
                <button type="submit" class="btn btn-link">
                  <i class="fas fa-star fa-2x"></i> <span class="badge badge-primary badge-pill"> <%= Star.where(:guide_id => @guide.id).count %></span>
                 
                </button>
              </form>
            <% end %>
          <% end %>
          <!-- END TRACKING LINKS-->


          <dl style="line-height:90%">
            <dt>
              Industries
            </dt>
            <dd>
              <%= @guide.industries.pluck(:name).to_sentence %>
            </dd>
            <dt>
              Disciplines
            </dt>
            <dd>
              <%= @guide.disciplines.pluck(:name).to_sentence %>
            </dd>
            <dt>
              CSI section
            </dt>
            <dd>
              <%= @guide.csi_section %>
            </dd>

            <dt>
              Created
            </dt>
            <dd>
              <%= @guide.created_at.strftime("%m/%d/%Y") %>
            </dd>

            <dt>
              Updated
            </dt>
            <dd>
              <%= time_ago_in_words(@guide.updated_at) %> ago
            </dd>
          </dl>
          <div class="nav nav-tabs nav-fill flex-column" role="tablist">

            <% Tab.where(guide_id: @guide.id).each do|tab| %>

              <a class="nav-link <%= tab.title == "Design Summary" ? 'active' : '' %>" role="tab" data-toggle="tab" aria-controls="<%= tab.id %>" aria-selected="false" href="#<%= tab.id %>"><%= tab.title.to_s %></a>

            <% end %>

            <!--  ADD A TAB & EDIT GUIDE -->
            <% if current_user == nil %>
            <% else %>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fas fa-plus"></i>
                Add a tab
              </button>

              <!-- add tab Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Add a tab</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/create_tab" method="post" id="tabform">
                        <div class="form-group">
                          <label for="title" class="col-form-label">Tab title</label>
                          <input type="text" class="form-control" name="title" id="title">
                          <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @guide.id %>">
                        </div>

                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" form="tabform" class="btn btn-primary">Add tab</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--END add tab MODAL-->

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#GuideEditModalCenter">
                <i class="far fa-edit"></i>
                Edit Guide
              </button>
              <!-- edit guide Modal -->
              <div class="modal fade" id="GuideEditModalCenter" tabindex="-1" role="dialog" aria-labelledby="GuideEditModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="GuideEditModalLongTitle">Edit Guide Descriptors</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/update_guide/<%= @guide.id %>" method="post" id="guideform">
                        <div class="form-group">
                          <label for="title" class="col-form-label">Guide title</label>
                          <input type="text" class="form-control" name="title" id="title" value="<%= @guide.try(:title) %>">
                          <label for="industry" class="col-form-label">Guide Industries</label>
                          <%= select_tag("industries", options_from_collection_for_select(Industry.all, :id, :name, GuideIndustry.where(:guide_id => @guide.id).pluck(:industry_id)), :multiple => true, :class => "form-control") %>
                          <label for="disciplines" class="col-form-label">Guide Disciplines</label>
                          <%= select_tag("disciplines", options_from_collection_for_select(Discipline.all, :id, :name, GuideDiscipline.where(:guide_id => @guide.id).pluck(:discipline_id)),:multiple =>  true, :class => "form-control") %>

                          <label for="csi_section" class="col-form-label">Guide CSI Section</label>
                          <input type="text" class="form-control" name="csi_section" id="csi_section" value="<%= @guide.try(:csi_section) %>">

                          <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @guide.id %>">
                        </div>

                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" form="guideform" class="btn btn-primary">Update Guide Descriptors</button>
                      <a href="#" id="show_more">More</a>

                      <div id="more" class="hidden">
                        <a href="/delete_guide/<%= @guide.id %>" data-confirm="Are you sure?">
                          Delete guide
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!--END edit guide MODAL-->
            <% end %>

            <!--     END ADD A TAB & EDIT GUIDE-->


          </div>
        </div>

        <!--   start 8 column-->
        <div class="col-8">
          <div class="tab-content flex-column">

            <% Tab.where(guide_id: @guide.id).each do|tab| %>

              <div class="tab-pane fade <%= tab.title == "Design Summary" ? 'active show' : '' %>" id="<%= tab.id %>" aria-labelledby="<%= tab.id %>-tab">
                <div class="container">
                  <% if current_user == nil %>
                    <a  href="/users/sign_up" style="float: right;">Create an account to contribute to this guide.</a>
                  <% else %>
                    <div class="row">
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#TabEditModalCenter<%= tab.id %>">
                        <i class="far fa-edit"></i>
                        Edit the <%= tab.title %> tab
                      </button>
                      <!-- edit tab Modal -->
                      <div class="modal fade" id="TabEditModalCenter<%= tab.id %>" tabindex="-1" role="dialog" aria-labelledby="TabEditModalCenterTitle<%= tab.id %>" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="TabEditModalLongTitle<%= tab.id %>">Edit tab title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="/update_tab" method="post" id="TabEditForm<%= tab.id %>">
                                <div class="form-group">
                                  <label for="title" class="col-form-label">Tab title</label>
                                  <input type="text" class="form-control" name="title" id="title" value="<%= tab.try(:title) %>">

                                  <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @guide.id %>">
                                </div>

                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" form="TabEditForm<%= tab.id %>" class="btn btn-primary">Update the <%= tab.title %> tab title</button>
                              <% if ["Design Summary","Discussions"].include? tab.title %>
                              <% else %>
                                <a href="#" id="show_more">More</a>

                                <div id="more" class="hidden">
                                  <a href="/delete_tab/<%= tab.id %>" data-confirm="Are you sure?">
                                    Delete the <%= tab.title %> tab
                                  </a>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--END edit tab MODAL-->
                    </div>
                  <% end %>

                  <!--   START DISCUSSION TAB LOGIC-->
                  <% if tab.title == "Discussions" %>
                    <% if current_user == nil %>
                    <% else %>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DiscussionModalCenter">
                        <i class="fas fa-plus"></i>
                        Start a discussion
                      </button>

                      <!-- add discussion Modal -->
                      <div class="modal fade" id="DiscussionModalCenter" tabindex="-1" role="dialog" aria-labelledby="DiscussionModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="DiscussionModalLongTitle">Start a new discussion</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="/create_discussion" method="post" id="DiscussionForm">
                                <div class="form-group">
                                  <label for="title" class="col-form-label">Dicussion title</label>
                                  <input type="text" class="form-control" name="title" id="title">

                                  <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @guide.id %>">
                                  <input type="hidden" id="tab_id" name="tab_id" class="form-control" value="<%= tab.id %>">
                                </div>

                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" form="DiscussionForm" class="btn btn-primary">Start discussion</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--END add discussion MODAL-->

                    <% end %>
                    <% Discussion.where(guide_id: @guide.id).each do|discussion| %>

                      <div class="card">

                        <div class="card-header">
                          <h4 class="card-title">
                            <%= discussion.title %>
                            <small>
                              <%= time_ago_in_words(discussion.created_at) %> ago
                            </small>
                          </h4>
                        </div>

                        <div class="card-body">
                          <ul class="list-unstyled pt-3">
                            <% Comment.where(:discussion_id => discussion.id).each do |comment| %>
                              <!-- START COMMENTS-->
                              <li class="media mb-2">
                                <div class="media-body">
                                  <h6>
                                    <h5><%= comment.user.first_name %> <%= comment.user.last_name %></h5>
                                    <small style="float: right;">
                                      <%= time_ago_in_words(comment.created_at) %> ago
                                    </small>
                                  </h6>
                                  <%= comment.body %>
                                </div>
                                <!-- media-body -->
                              </li>
                              <hr>
                            <% end %>
                            <!--   END COMMENTS-->

                            <li class="media">
                              <div class="media-body">
                                <% if current_user == nil %>
                                <% else %>
                                  <!-- Hidden input for authenticity token to protect from forgery -->
                                  <form action="/create_comment" method="post" class="pt-4">
                                    <!-- Hidden input for authenticity token to protect from forgery -->
                                    <input name="authenticity_token" type="hidden" value="<%= session[:current_user_id] %>">

                                    <input type="hidden" name="discussion_id" value="<%= discussion.id %>">

                                    <input type="hidden" name="user_id" value="<%= current_user.id %>">

                                    <input type="hidden" name="guide_id" value="<%= @guide.id %>">

                                    <!-- Label and input for body -->
                                    <div class="form-group">
                                      <label for="body" class="sr-only">
                                        Body
                                      </label>

                                      <div class="input-group">
                                        <input type="text" id="body" name="body" class="form-control" rows=2 placeholder="Add a comment..." required>

                                        <span class="input-group-append">
                                          <button class="btn btn-primary" type="submit">
                                            <i class="far fa-comment"></i>

                                            Add Comment
                                          </button>
                                        </span>
                                      </div>
                                      <!-- input-group -->
                                    </div>
                                    <!-- form-group -->
                                  </form>
                                <% end %>
                                <!--                 EDIT AND DELETE BUTTONS-->
                              </div>
                              <!-- media-body -->
                            </li>
                          </ul>


                        </div>
                        <!-- card-body -->
                      </div>
                      <!-- card  -->
                      <hr>


                    <% end %>

                  <% else %>

                    <!--  START CONTENT FOR TABS THAT ARE NOT THE DISCUSSION TAB-->


                    <% TextComponent.where(tab_id: tab.id).each do |text_component| %>
                      <p><%= raw text_component.content %></p>
                      <% if current_user == nil %>
                      <% else %>
                        <form action="/text_components/<%= text_component.id %>/edit">
                          <input type="hidden" name="tab_id" id="tab_id" class="form-control" value="<%= text_component.tab_id %>">
                          <input type="hidden" name="guide_id" id="guide_id" class="form-control" value="<%= @guide.id %>">
                          <button type="submit" class="btn btn-primary">
                            <i class="far fa-edit"></i>
                            Edit Content</button>
                        </form>
                      <% end %>
                      <hr>
                    <% end %>

                   

                  <% end %>
                  <!--END DROPDOWN BUTTONS-->


                </div>
              </div>

            <% end %>
          </div>

        </div>


        <!--  Ads 2 COLUMN-->
        <div class="col-2">
          <!--      <h4> Ads go here</h4>
      <img style="max-height:auto; max-width:100%;" src="http://construction.krends.com/wp-content/uploads/2015/03/shutterstock_151394975.jpg">
-->
        </div>
        <!-- END Ads 2 COLUMN-->

      </div>
    </div>


  </body>
</html>
