<!DOCTYPE html>
<html>

  <head>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <h2><%= @guide.title %></h2>
          <!--TRACKING LINKS-->
          <% if TrackedGuide.find_by({ :user_id => current_user.id, :guide_id => @guide.id }) == nil %>
            <form action="/create_tracked_guide" method="post">
              <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @guide.id %>">
              <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
              <button type="submit" class="btn btn-link">
                Track this guide
                <i class="far fa-bookmark"></i>
              </button>
            </form>
          <% else %>
            <form action="/delete_tracked_guide/<%= TrackedGuide.find_by({ :user_id => current_user.id, :guide_id => @guide.id }).id %>">
              <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @guide.id %>">
              <button type="submit" class="btn btn-link">
                Untrack this guide
                <i class="fas fa-bookmark"></i>
              </button>
            </form>
          <% end %>
          <!-- END TRACKING LINKS-->
          <dl style="line-height:90%">
            <dt>
              Discipline
            </dt>
            <dd>
              <%= @guide.discipline %>
            </dd>
            <dt>
              CSI section
            </dt>
            <dd>
              <%= @guide.csi_section %>
            </dd>


            <dt>
              Created
            </dt>
            <dd>
              <%= @guide.created_at.strftime("%m/%d/%Y at %I:%M%p") %>
            </dd>

            <dt>
              Updated
            </dt>
            <dd>
              <%= time_ago_in_words(@guide.updated_at) %> ago
            </dd>
          </dl>
          <div class="nav nav-tabs nav-fill flex-column" role="tablist">

            <a class="nav-link active" role="tab" data-toggle="tab" aria-controls="summary" aria-selected="true" href="#summary"><%= Tab.where(guide_id: @guide.id).first.title %></a>

            <% Tab.where(guide_id: @guide.id).drop(1).each do|tab| %>

              <a class="nav-link" role="tab" data-toggle="tab" aria-controls="<%= tab.id %>" aria-selected="false" href="#<%= tab.id %>"><%= tab.title.to_s %></a>

            <% end %>
            <form action="/tabs/new">
              <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @guide.id %>">

              <button type="submit" class="btn btn-primary">
                Add a tab
              </button>
            </form>
            <a href="/guides/<%= @guide.id %>/edit" >
              Edit guide
            </a>

          </div>
        </div>
        <div class="col-8">
          <div class="tab-content flex-column">
            <div class="tab-pane fade active show" id="summary" aria-labelledby="summary-tab">


              <a  href="/tabs/<%= Tab.where(guide_id: @guide.id).first.id %>/edit" style="float: right;">
                Edit the <%= Tab.where(guide_id: @guide.id).first.title %> tab
              </a>


              <div class="container">

                <% TextComponent.where(tab_id: Tab.where(guide_id: @guide.id).first.id).each do |text_component| %>
                  <h3><%= text_component.header %></h3>
                  <div><%= raw text_component.content %></div>
                  <form action="/text_components/<%= text_component.id %>/edit">
                    <input type="hidden" name="tab_id" id="tab_id" class="form-control" value="<%= text_component.tab_id %>">
                    <button type="submit" class="btn btn-link">Edit Text Component</button>
                  </form>
                  <hr>
                <% end %>
                <% Resource.where(tab_id: Tab.where(guide_id: @guide.id).first.id).each do |resource| %>
                  <h3><%= resource.category %></h3>
                  <h4><%= resource.created_at %></h4>
                  <img src="<%= resource.resource %>" class="img-responsive" style="max-height:auto; max-width:100%;">
                  <a href="<%= resource.resource %>"><%= resource.category %></a>
                  <div></div>

                  <form action="/resources/<%= resource.id %>/edit">
                    <input type="hidden" name="tab_id" id="tab_id" class="form-control" value="<%= resource.tab_id %>">
                    <button type="submit" class="btn btn-link">Edit Resource</button>
                  </form>
                  <hr>
                <% end %>
                <% YoutubeVideo.where(tab_id: Tab.where(guide_id: @guide.id).first.id).each do |youtube_video| %>
                  <h4><%= youtube_video.description %></h4>
                  <iframe width="560" height="315" src="<%= youtube_video.url_link.gsub(".com/watch?v=",".com/embed/") %>?start=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <div></div>
                  <a href="/youtube_videos/<%= youtube_video.id %>/edit"> Replace or remove this Youtube video</a>
                <% end %>
                <hr>
              </div>


              <!--DROPDOWN BUTTONS TO ADD CONTENT-->
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary">Add Content</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <form action="/text_components/new">
                      <input type="hidden" id="tab_id" name="tab_id" class="form-control" value="<%= Tab.where(guide_id: @guide.id).first.id %>">

                      <button type="submit" class="dropdown-item">
                        Add a text component
                      </button>
                    </form>

                    <form action="/resources/new">
                      <input type="hidden" id="tab_id" name="tab_id" class="form-control" value="<%= Tab.where(guide_id: @guide.id).first.id %>">

                      <button type="submit" class="dropdown-item">
                        Add a resource
                      </button>
                    </form>
                    <form action="/youtube_videos/new">
                      <input type="hidden" id="tab_id" name="tab_id" class="form-control" value="<%= Tab.where(guide_id: @guide.id).first.id %>">

                      <button type="submit" class="dropdown-item">
                        Add a Youtube video
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <hr>
              <!--END DROPDOWN BUTTONS-->


            </div>
            <% Tab.where(guide_id: @guide.id).drop(1).each do|tab| %>
              <div class="tab-pane fade" id="<%= tab.id %>" aria-labelledby="<%= tab.id %>-tab">


                <a href="/tabs/<%= tab.id %>/edit" style="float: right;">
                  Edit the <%= tab.title %> tab
                </a>


                <div class="container">

                  <% TextComponent.where(tab_id: tab.id).each do |text_component| %>
                    <h3><%= text_component.header %></h3>
                    <p><%= raw text_component.content %></p>
                    <a href="/text_components/<%= text_component.id %>/edit"> Edit Text Component</a>
                    <hr>
                  <% end %>
                  <% Resource.where(tab_id: tab.id).each do |resource| %>
                    <h3><%= resource.category %></h3>
                    <h4><%= resource.created_at %></h4>
                    <img src="<%= resource.resource %>" class="img-responsive" style="max-height:auto; max-width:100%;">
                    <a href="/resources/<%= resource.id %>/edit"> Edit Resource</a>
                    <hr>
                  <% end %>
                  <% YoutubeVideo.where(tab_id: tab.id).each do |youtube_video| %>
                    <h3><%= youtube_video.description %></h3>
                    <iframe width="560" height="315" src="<%= youtube_video.url_link.gsub(".com/watch?v=",".com/embed/") %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a href="/youtube_videos/<%= youtube_video.id %>/edit"> Replace or remove this Youtube video</a>
                    <hr>
                  <% end %>

                </div>
                <!--DROPDOWN BUTTONS TO ADD CONTENT-->
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <button type="button" class="btn btn-primary">Add Content</button>
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <form action="/text_components/new">
                        <input type="hidden" id="tab_id" name="tab_id" class="form-control" value="<%= Tab.where(guide_id: @guide.id).first.id %>">

                        <button type="submit" class="dropdown-item">
                          Add a text component
                        </button>
                      </form>

                      <form action="/resources/new">
                        <input type="hidden" id="tab_id" name="tab_id" class="form-control" value="<%= Tab.where(guide_id: @guide.id).first.id %>">

                        <button type="submit" class="dropdown-item">
                          Add a resource
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <hr>
                <!--END DROPDOWN BUTTONS-->


              </div>

            <% end %>

          </div>
        </div>

        <!--  Ads COLUMN-->
        <div class="col-2">
          <h4> Ads go here</h4>
          <img style="max-height:auto; max-width:100%;" src="http://construction.krends.com/wp-content/uploads/2015/03/shutterstock_151394975.jpg">


        </div>


      </div>
    </div>


  </body>
</html>
