<h1>
  All youtube videos
</h1>

<a href="/youtube_videos/new">
  Add a new youtube video
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Tab
    </th>

    <th>
      Html link
    </th>

    <th>
      Description
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @youtube_videos.each do |youtube_video| %>
  <tr>
    <td>
      <%= youtube_video.id %>
    </td>

    <td>
      <%= youtube_video.tab_id %>
    </td>

    <td>
      <%= youtube_video.url_link %>
    </td>

    <td>
      <%= youtube_video.description %>
    </td>

    <td>
      <%= time_ago_in_words(youtube_video.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(youtube_video.updated_at) %> ago
    </td>

    <td>
      <a href="/youtube_videos/<%= youtube_video.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
