<h1>
  Youtube video #<%= @youtube_video.id %> details
</h1>

<a href="/youtube_videos/<%= @youtube_video.id %>/edit">
  Edit youtube video
</a>

<hr>

<dl>
  <dt>
    Tab
  </dt>
  <dd>
    <%= @youtube_video.tab_id %>
  </dd>

  <dt>
    Html link
  </dt>
  <dd>
    <%= @youtube_video.url_link %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @youtube_video.description %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@youtube_video.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@youtube_video.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_youtube_video/<%= @youtube_video.id %>">
  Delete youtube video
</a>

<hr>

<a href="/youtube_videos">
  Go back
</a>
