<div class="container">
  <h1>
    Starred guides
  </h1>

  <hr>

  <table class="table white-back">
    <tr>

      <th>
        Guide
      </th>
      <th>
        Industries
      </th>
      <th>
        Disciplines
      </th>
      <th>
        CSI Section
      </th>
       <th>
        Updated
      </th>

      <th>
      </th>
    </tr>

    <% @stars.order(updated_at: :asc).each do |star| %>
      <tr>

        <td>
          <%= Guide.find_by(:id => star.guide_id).title %>
        </td>
        <td>
          <%= Guide.find_by(:id => star.guide_id).industries.pluck(:name).to_sentence %>
        </td>

        <td>
          <%= Guide.find_by(:id => star.guide_id).disciplines.pluck(:name).to_sentence %>
        </td>

        <td>
          <%= Guide.find_by(:id => star.guide_id).csi_section %>
        </td>
        <td>
          <%= time_ago_in_words(Guide.find_by(:id => star.guide_id).updated_at) %> ago
        </td>


        <td>
          <form action="guides/<%= star.guide_id %>">
            <button type="submit" class="btn btn-link">
              <i class="fas fa-glasses"></i>
              View Guide
            </button>
          </form>
          <form action="/delete_star/<%= star.id %>">
            <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= star.guide_id %>">
            <button type="submit" class="btn btn-link">
              <i class="far fa-star"></i>
              Un-star Guide
            </button>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
</div>
