<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>

    <div class="container">

      <h3>Search entry:"<%= params.fetch("search_entry") %>"</h3>

      <!--List of Topics-->
      <h1>
        Topic Search Results
      </h1>


      <hr>
      <%= search_form_for @q do |f| %>
        <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :discipline_cont, "Topics containing discipline:" %>
          <%= f.text_field :discipline_cont, :class => "form-control", :value => params.fetch("search_entry") %>
        </div>


        <%= f.submit :class => "btn btn-primary btn-block" %>

        <a href="/topics/search?search_entry=" class="btn btn-default btn-block">Clear filters</a>
      <% end %>
      <hr>
      <% if @q.result == nil %>
        <h3>No Results</h3>
      <% else %>
        <table class="table">
          <tr>

            <th>
              Title
            </th>

            <th>
            </th>
          </tr>

          <% @topic.each do |topic| %>
            <tr>

              <td>
                <%= topic.title %>
              </td>


              <td>
                <a href="/topics/<%= topic.id %>" class="btn btn-primary">
                  Show topic
                </a>
              </td>
            </tr>
          <% end %>

        </table>
      <% end %>
    </div>

  </body>
</html>
