<!-- Validation failure messages -->
<% if @tab.errors.any? %>
  <% @tab.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit tab #<%= @tab.id %>
</h1>

<hr>
<div class="container">
<form action="/update_tab/<%= @tab.id %>" method="post">
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
     Tab Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @tab.title %>">
  </div>


  <!-- Label and input for tab_id -->
  <div class="form-group">

    <input type="hidden" id="guide_id" name="guide_id" class="form-control" value="<%= @tab.guide_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update tab
  </button>
</form>
</div>
<hr>
<a href="/delete_tab/<%= @tab.id %>">
  Delete tab
</a>
<div></div>
<a href="/guides/<%= @tab.guide_id %>">
  Go back
</a>
