<!-- Validation failure messages -->
<% if @resource.errors.any? %>
  <% @resource.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit resource #<%= @resource.id %>
</h1>

<hr>
<div class="container">
<form action="/update_resource/<%= @resource.id %>" method="post" class="form-horizontal" enctype="multipart/form-data">
  <!-- Label and input for category -->
  <div class="form-group">
    <label for="category">
      Category
    </label>

    <input type="text" id="category" name="category" class="form-control" value="<%= @resource.category %>">
  </div>

  <!-- input for section_id -->
  <div class="form-group">

    <input type="hidden" id="section_id" name="section_id" class="form-control" value="<%= @resource.section_id %>">
  </div>

  <!-- Label and input for resource -->
  <div class="form-group">
    <label for="resource">
      Resource
    </label>

    <input type="file" id="resource" name="resource" class="form-control" value="<%= @resource.try(:resource) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update resource
  </button>
</form>
</div>

<hr>
<a href="/delete_resource/<%= @resource.id %>">
  Delete resource
</a>
<div></div>
<a href="/topics">
  Go back
</a>
