<h1>
  All resources
</h1>

<a href="/resources/new">
  Add a new resource
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Category
    </th>

    <th>
      Section
    </th>

    <th>
      Resource
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @resources.each do |resource| %>
  <tr>
    <td>
      <%= resource.id %>
    </td>

    <td>
      <%= resource.category %>
    </td>

    <td>
      <%= resource.section_id %>
    </td>

    <td>
      <%= resource.resource %>
    </td>

    <td>
      <%= time_ago_in_words(resource.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(resource.updated_at) %> ago
    </td>

    <td>
      <a href="/resources/<%= resource.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
