<h1>
  Resource #<%= @resource.id %> details
</h1>

<a href="/resources/<%= @resource.id %>/edit">
  Edit resource
</a>

<hr>

<dl>
  <dt>
    Category
  </dt>
  <dd>
    <%= @resource.category %>
  </dd>

  <dt>
    Section
  </dt>
  <dd>
    <%= @resource.section_id %>
  </dd>

  <dt>
    Resource
  </dt>
  <dd>
    <img src="<%= @resource.resource %>" width="600px" height="600px"class="img-responsive">

  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@resource.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@resource.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_resource/<%= @resource.id %>">
  Delete resource
</a>

<hr>

<a href="/resources">
  Go back
</a>
