<head>
  <title>OS Design Guide - Community Articles</title>
</head>
<div class="container">
  <h1>
    Community Articles
  </h1>

  <a href="/articles/new">
    <i class="fas fa-plus"></i>Add a new article
  </a>

  <hr>
  <% @articles.each do |article| %>
    <div class="card">
      <div class="row mb-2 align-items-start">

        <div class="col-6">
          <a href="/articles/<%= article.id %>">
            <img src="<%= article.image %>" class="img-fluid img-thumbnail" style="border:0;" >
          </a>
        </div>
        <div class="col-6">
          <div class="card-header">
            <h4 class="card-title"  style="padding:5px; margin:0px">
              <a href="/articles/<%= article.id %>">
                <%= article.title %>
              </a>
              <h4><span class="badge"><i class="fas fa-star"></i>(<%= article.get_upvotes.size-article.get_downvotes.size %>) <i class="fas fa-comments"></i>(<%= article.comment_threads.size %>) </span></h4>
              <h5 class="text-muted">
                <small class="text-muted">Authored by: </small> <small><%= article.author %></small>

                <small class="float-right">
                  Posted on: <%= article.created_at.strftime("%B %d, %Y") %>
                </small>

              </h5>
            </h4>
          </div>

          <div class="card-body" style="padding:5px">


            <div>


              <div class="media-body">

               
                  <%= raw article.content[0,500]+"..." %>
              
                <!--                 EDIT BUTTON-->
                <% if current_user == nil %>
                <% else %>
                  <% if article.user_id == current_user.id %>
                    <div class="btn-group d-flex" role="group">
                      <a href="/articles/<%= article.id %>/edit" class="btn btn-warning w-100">
                        <i class="fas fa-edit"></i>

                        Edit
                      </a>

                    </div>
                  <% else %>
                  <% end %>
                <% end %>
              </div>
              <!-- media-body -->


            </div>
          </div>
          <!-- card-body -->
        </div>

      </div>
      <div class="card-footer" style="padding:5px">
        <small class="text-muted float-left">
          Disciplines: <%= article.disciplines.pluck(:name).to_sentence %>
        </small>

        <small class="text-muted float-right">
          Industries: <%= article.industries.pluck(:name).to_sentence %>
        </small>
      </div>
      <!-- card  -->
    </div>
    <!-- col-6 -->

  <% end %>

</div>
