<div class="container">
  <h1>
    <%= @article.title %>
  </h1>

  <div class="row" style="padding:10px">
    <form action="/articles/<%= @article.id %>/upvote" method="post">
      <input type="hidden" name="article_id" value="<%= @article.id %>">
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-plus"></i>
      </button>
    </form>

    <h4><span class="badge"><%= @article.get_upvotes.size %> Upvote('s)</span></h4>

  </div>

  <% if current_user == nil %>
  <% else %>
    <% if @article.user_id == current_user.id %>
        <a href="/articles/<%= @article.id %>/edit" class="btn btn-warning w-100">
          <i class="fas fa-edit"></i>

          Edit
        </a>

    <% else %>
    <% end %>
  <% end %>

  <hr>

  <dl class="white-back" style="padding:10px">
    <dt>
    </dt>
    <dd>
      <img src="<%= @article.image %>" class="img-fluid img-thumbnail" style="border:0;" >
    </dd>
    <dt>
      Author('s)
    </dt>
    <dd style="float-left">
      <%= @article.author %>
    </dd>

    <dt>
      Published on
    </dt>
    <dd>
      <%= @article.created_at.strftime("%B %d, %Y") %>
    </dd>

    <dt>
      Last Update on
    </dt>
    <dd>
      <%= @article.updated_at.strftime("%B %d, %Y") %>
    </dd>

    <dt>
    </dt>
    <dd>
      <%= raw @article.content %>
    </dd>

  </dl>
  <% if current_user == nil %>
  <% else %>
    <% if @article.user_id == current_user.id %>
      <a href="/delete_article/<%= @article.id %>", data-confirm="Are you sure?">
        Delete article
      </a>
    <% else %>
    <% end %>
<% end %>
  <hr>

  <a href="/articles">
    Go back
  </a>
</div>
