<!-- Validation failure messages -->
<% if @topic.errors.any? %>
  <% @topic.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit topic #<%= @topic.id %>
</h1>

<hr>
<div class="container">
  <form action="/update_topic/<%= @topic.id %>" method="post">
    <!-- Label and input for csi_section -->
    <div class="form-group">
      <label for="csi_section">
        CSI section
      </label>

      <input type="text" id="csi_section" name="csi_section" class="form-control" value="<%= @topic.csi_section %>">
    </div>

    <!-- Label and input for title -->
    <div class="form-group">
      <label for="title">
        Title
      </label>

      <input type="text" id="title" name="title" class="form-control" value="<%= @topic.title %>">
    </div>

    <!-- Label and input for discipline -->
    <div class="form-group">
      <label for="discipline">
        Discipline
      </label>

      <%= select_tag("discipline", options_for_select(disciplines, @topic.discipline),:class => "form-control") %>
    </div>

    <button class="btn btn-block btn-outline-secondary">
      Update topic
    </button>
  </form>
</div>
<hr>
<a href="/delete_topic/<%= @topic.id %>">
  Delete topic
</a>
<div></div>
<a href="/topics/<%= @topic.id %>">
  Go back
</a>
