<h1>
  All topics
</h1>

<a href="/topics/new">
  Add a new topic
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Csi section
    </th>

    <th>
      Title
    </th>

    <th>
      Engineering discipline
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @topics.each do |topic| %>
  <tr>
    <td>
      <%= topic.id %>
    </td>

    <td>
      <%= topic.csi_section %>
    </td>

    <td>
      <%= topic.title %>
    </td>

    <td>
      <%= topic.discipline %>
    </td>

    <td>
      <%= time_ago_in_words(topic.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(topic.updated_at) %> ago
    </td>

    <td>
      <a href="/topics/<%= topic.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
