<%= javascript_include_tag Ckeditor.cdn_url %>
<!-- Validation failure messages -->
<% if @text_component.present? %>
  <% if @text_component.errors.any? %>
    <% @text_component.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="container">
<h1>
  Add a new text component
</h1>

<hr>

<form action="/create_text_component" method="post">
  <!-- input for tab_id -->
  <div class="form-group">
    <input type="hidden" id="tab_id" name="tab_id" class="form-control" value="<%= params.fetch("tab_id") %>">
  </div>




 <% @text_component={} %>
 
 <%= form_for @text_component do |f| %>
 
   <!-- Label and input for header -->
  <div>
    <%= f.label :header %>
  </div>
  <div>
    <%= f.text_field :header, :class => "form-control" %>
  </div>
  <div>
    <%= f.label :content %>
  </div>
  <div>
    <%= f.cktext_area :content, rows: 10 %>
  </div>

<% end %> 
  
  <button type="submit" class="btn btn-block btn-outline-secondary">
   Add text component
  </button>

</form>

<hr>

<a href="/text_components">
  Go back
</a>
</div>