<!-- Validation failure messages -->
<% if @section.errors.any? %>
  <% @section.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit section #<%= @section.id %>
</h1>

<hr>

<form action="/update_section/<%= @section.id %>" method="post">
  <!-- Label and input for topic_id -->
  <div class="form-group">
    <label for="tab_id">
      Tab
    </label>

    <input type="text" id="tab_id" name="tab_id" class="form-control" value="<%= @section.tab_id %>">
  </div>
      <div class="form-group">
    <label for="section_title">
      Section title
    </label>

    <input type="string" id="section_title" name="section_title" class="form-control" value="<%= @section.try(:title) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update section
  </button>
</form>

<hr>

<a href="/sections">
  Go back
</a>
