<h1>
  All sections
</h1>

<a href="/sections/new">
  Add a new section
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Topic
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @sections.each do |section| %>
  <tr>
    <td>
      <%= section.id %>
    </td>

    <td>
      <%= section.topic_id %>
    </td>

    <td>
      <%= time_ago_in_words(section.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(section.updated_at) %> ago
    </td>

    <td>
      <a href="/sections/<%= section.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
