<!DOCTYPE html>
<html>

  <head>
  </head>

  <form action="/topic/<%= params.fetch("id") %>" onsubmit="return getContent()">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">Regulations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lists of Resources</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show active" id="home">
        <h2>Title: <%= @topic.title %></h2>
        <h3>text1: </h3>

        <div class="row justify-content-center">


          <div class="col-md-2">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <h3 class="card-header" contenteditable="true" name="card_title">Title: <%=@topic.title %></h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Vertical Curve Design</li>
                <li class="list-group-item">Horizontal Curve Design</li>
                <li class="list-group-item">Traffic Signal Timing</li>
              </ul>
              
              <!--test editable text-->
              <script>
                function getContent(){
                    document.getElementById("text1").value = document.getElementById("my-content").innerHTML;
                }
              </script>


              <div id="my-content" contenteditable="true"><a href="page.html">Some</a> Text</div>

              <form action="/topic/<%= params.fetch("id") %>" onsubmit="return getContent()">
                <textarea id="text1"></textarea>
                <input type="submit" />
              </form>
              <!--end editable text-->

            </div>
          </div>

          <div class="col-md-2">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Construction</div>
              <div class="card-body">
                <h4 class="card-title">Estimating</h4>
                <p class="card-text">Text1: </p>
              </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Structural</div>
              <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>


        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </div>
      <div class="tab-pane fade" id="profile">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
      </div>
      <div class="tab-pane fade" id="dropdown1">
        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
      </div>
      <div class="tab-pane fade" id="dropdown2">
        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
      </div>
    </div>


    <button class="btn btn-success" type="submit">Update topic</button>

    <a href="/delete_topic/<%= @topic.id %>" class="btn btn-danger">
      Delete topic
    </a>
  </form>


  <!--old html for title and text-->
  <div class="container" style="margin:50px;"></div>
  <form action="/topic/<%= params.fetch("id") %>">
    <fieldset>
      <legend>Legend</legend>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" value="<%= @topic.title %>" name="title">
      </div>

    </div>


    <button class="btn btn-success" type="submit">Update topic</button>
  </fieldset>
</form>


</body>
</html>
